<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<settings>
		<!-- 开启驼峰命名规则，即从经典数据库列名 A_COLUMN 到经典 Java 属性名 aColumn 的类似映射。 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 开启类型别名 -->
	<typeAliases>
		<package name="com.xm.crud.bean"/>
	</typeAliases>
	
	<!-- 注册分页插件 -->
	<plugins>
		<plugin interceptor="com.github.pagehelper.PageInterceptor">
			<!-- 开启分页合理化，当我们来到了第一页，我再点击前一页，虽然按钮禁掉了，但是点击后页数依然再减成为负的了 -->
			<property name="reasonable" value="true"/>
		</plugin>
	</plugins>

</configuration>